* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  align-items:flex-start;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fffaf0;
  color: #333;
  text-align: center;
  padding: 20px;
}

header h1 {
  color: #d35400;
  margin-bottom: 10px;
}

nav {
  margin-bottom: 20px;
}

.filter-btn {
  background: #d35400;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.filter-btn:hover {
  background: #e67e22;
}

#menu {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.menu-item {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 15px;
  transition: transform 0.2s;
  display: block;
  height: 70%;
}
.menu-item img {
  height: 50%;
  width: 50%;
}
.menu-item:hover {
  transform: scale(1.05);
}

.menu-item img {
  width: 100%;
  border-radius: 10px;
}

.menu-item h3 {
  margin: 10px 0 5px;
  color: #d35400;
}

.menu-item span {
  font-weight: bold;
  color: #27ae60;
}

footer {
  margin-top: 10px;
  font-size: 0.9em;
  color: #555;
}
